<h2>Azure Open AI Search</h2>
<div class="row">
  <div class="col-8">
    <label class="btn btn-default p-0">
      <input type="text" value="search" id="search-input" [(ngModel)]="searchText" style="width:250pt" class="form-control border-end-2 border rounded-pill" placeholder="Search Text">
    </label>
  </div>

  <div class="col-4">
    <button class="btn btn-success btn-sm" (click)="getAllSearchResult(searchText)">
      Search
    </button>
  </div>
</div>
<br />
<b [innerHTML]="searchText"></b><b>:</b>
<br />
<br />
<ngx-typed-js id="typewriter" [strings]="[content]" [typeSpeed]="10">
  <h4 class="typing" style="overflow-y:auto;height:200px !important;"></h4>
</ngx-typed-js>
<br />
