  .button-active {
    background-color: #2095FE;
    color: white;
    border-radius: 15px;
    line-height: 1;
    height: 2.25rem;
    width: 5vw;
    margin-left: 2vw;
    outline: none;
    border: none;
  }
  .button-active:hover,
  .button-active:focus {
    background-color: #2095FE;
    border-color: #2095FE;
    color: #fff;
  }
.message {
    border-radius: 50px;
    margin: 10px 15px 20px;
    padding: 10px 20px;
    position: relative;
    font-size: 20px;
  }
  .message.to {
    background-color: #2095FE;
    color: #fff;
    margin-left: 100px;
    text-align: right;
  }
  .message.from {
    background-color: #E5E4E9;
    color: #363636;
    margin-right: 100px;
  }
  .message.to + .message.to,
  .message.from + .message.from {
    margin-top: -10px;
  }
  .input-field {
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border-radius: 15px;
    line-height: 3.25rem;
    height: 4.25rem;
    width: 43vw;
    outline: none;
    border: none;
  }
  .message-container{
    overflow-y: scroll;
    height: 40vh;
    border:  grey 2px solid;
    border-radius: 15px;
    width: 51vw;
  }
  .actions-border{
    width: 51vw;
    border-radius: 15px;
    border:  grey 2px solid; 
  }
